@mixin widget-custom-card {
  box-shadow:
    2px -4px 10px rgb(255 255 255 / 60%),
    -2px 4px 10px rgb(112 108 162 / 5%);
  border-radius: 20px;
  background: #fff;
}

.q-card.custom-card:not([class^="col"]) {
  @include widget-custom-card;
}
