.carousel__pagination-button {
  &.carousel__pagination-button--active {
    &::after {
      width: 24px !important;
      height: 8px !important;
      border-radius: 18px !important;
      background: #ffd54f !important;
    }
  }

  &::after {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50% !important;
    background: #eee !important;
  }

  &:hover {
    &::after {
      background-color: #ffd54f !important;
    }
  }
}
