$header-separator-padding-xl: $space-8;
$header-separator-padding-md: $space-5;

.q-expansion-item {
  width: 100%;
  border-radius: $radius-4;
  background: $grey-1;
  box-shadow: $shadow-1;
  padding: 0;

  &.grey-mode {
    background: $grey-2;
    box-shadow: none;

    .q-expansion-item__content {
      background: $grey-2;
    }

    .header-separator {
      color: $grey-4;
    }
  }

  .q-item {
    border-radius: $radius-4;

    padding: $space-4 $space-5;
    min-height: 64px;
    height: auto;

    @include media-max-width('sm'){
      padding: $space-3 $space-4;
    }
  }

  &--expanded {
    .q-item {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .header-separator {
      display: block !important;
    }

  }

  .header-separator {
    display: none;
    position: absolute;
    color: $grey-3;
    bottom: 0;
    left: $header-separator-padding-xl;
    width: calc(100% - (2*$header-separator-padding-xl));

    @include media-max-width('md'){
      left: $header-separator-padding-md;
      width: calc(100% - (2*$header-separator-padding-md));
    }

  }

  .header-label-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;

    .header-icon {
      min-width: $space-5;
      padding-right: $space-2;
    }

    .expansion-label {
      @include subtitle1;
      max-width: 100%;
      color: $grey9;
    }
  }

  .q-expansion-item__content {
    padding: $spacing-none $space-5 $space-1;
    border-radius: $radius-3;
  }


  .header-action-section {
    display: flex;

    @include media-max-width('sm'){
      display: none;
    }

    .action-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;

    }
  }

  .responsive-action-section {
    margin-left: 0;
    display: none;

    @include media-max-width('sm') {
      display: flex;
    }
    .action-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: $space-3;
    }
  }
}
