@import "src/css/Theme/colors.scss";

::-webkit-scrollbar{
  width: 6px ;
  height: 5px;
  border-radius: 6px ;
  background-color: $primary;
}

::-webkit-scrollbar-track{
  border-radius: 6px ;
  background-color: #F5F5F5 ;
}

::-webkit-scrollbar-thumb{
  border-radius: 6px ;
  background-color: $primary;
}
