@import "src/css/Theme/spacing";
@import "src/css/Theme/Typography/typography";
@import "src/css/Theme/radius";

.q-badge {
  border-radius: $radius-3;
  justify-content: center;
  align-items: center;

  &.badge-xs {
    @include subtitle2;
    padding: $spacing-base $space-2;
  }

  &.badge-sm {
    @include subtitle1;
    padding: $spacing-base $space-3;
  }
  &.badge-md {
    @include caption1;
    padding: $spacing-base $space-3;
  }

  &.q-badge--rounded {
    padding: $spacing-base $spacing-base;

    &.badge-xs {
      width: 16px;
      height: 16px;
    }

    &.badge-sm {
      width: 20px;
      height: 20px;
    }
  }
}
