:root {
  --alaa-Primary: #ff9000;
  --alaa-Secondary: #FFB74D;
  --alaa-Purple-d: #8075DC;
  --alaa-Purple-l: #E4E3F8;
  --alaa-TextPrimary: #23263B;
  --alaa-TextSecondary: #65677F;
  --alaa-Neutral1: #DEDEDE;
  --alaa-Neutral2: #F4F5F6;
  --alaa-Neutral3: #FFFFFF;
  --alaa-Sem1: #4CAF50;
  --alaa-Sem2: #E86562;
  --alaa-EQ: #8ED6FF;
  --alaa-MQ: #FFCA28;
  --alaa-DQ: #DA5F5C;


  --background-1: #fff;
  --background-2: #f5f5f5;
  --background-3: red;
  --surface-1: #fff;
  --surface-2: #f1f1f1;
  --surface-3: #f1f1f1;
  --primary-1: #ffc107;
  --primary-2: #fbcf4b;
  --primary-3: #ffc107;
  --text-1: #000;
  --text-2: #666;
  --text-3: #fff;
  --accent-1: #2196F3;
  --accent-2: #2196F3;
  --accent-3: #2196F3;
  --success-1: #4caf50;
  --success-2: #4caf50;
  --success-3: #4caf50;
  --error-1: #f44336;
  --error-2: #f44336;
  --error-3: #f44336;
}
 // ------ quasar variables
$primary   : #ff9000; // for alaa
$accent    : #65677F;
$dark      : #1D1D1D;
$positive  : #4caf50;
$negative  : #f44336;
$info      : #31CCEC;
$warning   : #F2C037;
$success : #4caf50;
$secondary: #FFB74D;


//colors
$customGray: #F4F5F6;
$customBlack : #23263B;
$customGreen : #72BC75;
