:root {
  --alaa-Primary: #FFC107;
  --alaa-Secondary: #ff9000;
  --alaa-Purple-d: #8075DC;
  --alaa-Purple-l: #E4E3F8;
  --alaa-TextPrimary: #23263B;
  --alaa-TextSecondary: #65677F;
  --alaa-Neutral1: #DEDEDE;
  --alaa-Neutral2: #F4F5F6;
  --alaa-Neutral3: #FFFFFF;
  --alaa-Sem1: #4CAF50;
  --alaa-Sem2: #E86562;
  --alaa-EQ: #8ED6FF;
  --alaa-MQ: #FFCA28;
  --alaa-DQ: #DA5F5C;


  --background-1: #fff;
  --background-2: #f5f5f5;
  --background-3: red;
  --surface-1: #fff;
  --surface-2: #f1f1f1;
  --surface-3: #f1f1f1;
  --primary-1: #ffc107;
  --primary-2: #fbcf4b;
  --primary-3: #ffc107;
  --text-1: #000;
  --text-2: #666;
  --text-3: #fff;
  --accent-1: #2196F3;
  --accent-2: #2196F3;
  --accent-3: #2196F3;
  --success-1: #4caf50;
  --success-2: #4caf50;
  --success-3: #4caf50;
  --error-1: #f44336;
  --error-2: #f44336;
  --error-3: #f44336;
  --abrishamMain: #3e5480;
  --abrishamGray: #9fa5c0;
  --abrishamLightBlue: #eff3ff;
}
// ------ quasar variables
$primary   : #FFC107; // for alaa
$primary-1: #fffaea;
$primary-2: #fff2c9;
$primary-3: #ffeaa9;
$primary-4: #ffda69;
$primary-5: #ffca28;
$primary-6: #e6b624;
$primary-7: #bf981e;
$primary-8: #997918;
$primary-9: #7d6314;

$secondary-1: #ECF9F7;
$secondary-2: #CEEFEB;
$secondary-3: #B1E5DF;
$secondary-4: #77D2C7;
$secondary-5: #3CBFAF;
$secondary-6: #36AC9E;
$secondary-7: #2D8F83;
$secondary-8: #247369;
$secondary-9: #1D5E56;

$tertiary1: #eeeef5;
$tertiary2: #d4d4e6;
$tertiary3: #b9b9d7;
$tertiary4: #8585b9;
$tertiary5: #51519b;
$tertiary6: #49498c;
$tertiary7: #3d3d74;
$tertiary8: #31315d;
$tertiary9: #28284c;

$positive1: #54d2a6;
$positive2: #0abf80;
$positive3: #09ac73;
$positive5: #09AC73;

$warning: #FFB240;
$warning1: #FFC979;
$warning2: #FFC979;
$warning3: #E6A03A;

$negative1: #F48785;
$negative2: #EF5350;
$negative3: #D74B48;
$negative5: #EF5350;
$negative-5: #EF5350;

$grey1: #FFFFFF;
$grey2: #F5F5F5;
$grey3: #EBEBEB;
$grey4: #E0E0E0;
$grey-5: #BDBDBD;
$grey-6: #9E9E9E;
$grey7: #444444;
$grey8: #303030;
$grey-9: #424242;

$other1: #F5F7FA;
$other2: #3F454F;

$accent    : #65677F;
$dark      : #1D1D1D;
$positive  : #4caf50;
$negative  : #f44336;
$info      : #31CCEC;
$warning   : #F2C037;
$success : #4caf50;
$secondary: #444444;


//colors
$customGray: #F4F5F6;
$customBlack : #23263B;
$customGreen : #72BC75;
