.new-theme {
  .q-notifications {
    .q-notifications__list {
      .q-notification {
        width: 322px;
        height: 40px;
        min-height: 40px;
        align-content: center;

        .q-notification__wrapper {
          .q-notification__content {
            text-align: left;

            .q-notification__message {
              @include body1;
            }

            .q-notification__icon {
              font-size: 13px;
              margin-right: 5px;
            }
          }

          .q-notification__actions {
            padding: 0;
            margin-right: -10px;

            .q-btn {
              .q-icon {
                font-size: 14px;
              }
            }
          }
        }

        &.bg-info {
          background: $info-1 !important;

          .q-notification__wrapper {
            .q-notification__content {
              .q-notification__message,
              .q-notification__icon {
                color: $info-5;
              }
            }
          }
        }

        &.bg-negative {
          background: $negative-1 !important;

          .q-notification__wrapper {
            .q-notification__content {
              .q-notification__message,
              .q-notification__icon {
                color: $negative-5;
              }
            }
          }
        }

        &.bg-positive {
          background: $positive-1 !important;

          .q-notification__wrapper {
            .q-notification__content {
              .q-notification__message,
              .q-notification__icon {
                color: $positive-5;
              }
            }
          }
        }
      }
    }
  }
}
