$spacing-base   : 4px !default;
$spacing-none : 0 !default;
$space-1   : $spacing-base !default;
$space-2   : $spacing-base * 2 !default;
$space-3   : $spacing-base * 3 !default;
$space-4   : $spacing-base * 4 !default;
$space-5   : $spacing-base * 5 !default;
$space-6   : $spacing-base * 6 !default;
$space-7   : $spacing-base * 8 !default;
$space-8   : $spacing-base * 10 !default;
$space-9   : $spacing-base * 12 !default;
$space-10   : $spacing-base * 14 !default;
$space-11  : $spacing-base * 16 !default;
$space-12   : $spacing-base * 20 !default;
$space-13   : $spacing-base * 23 !default;
//------------------------------------
$q-space-none : (x: $spacing-none, y: $spacing-none) !default;
$q-space-xs   : (x: $spacing-base, y: $spacing-base) !default;
$q-space-sm   : (x: $space-2, y: $space-2) !default;
$q-space-md   : (x: $space-4, y: $space-4) !default;
$q-space-lg   : (x: $space-7, y: $space-7) !default;
$q-space-xl   : (x: $space-12, y: $space-12) !default;

$all-q-spaces: ('none': $q-space-none, 'xs': $q-space-xs, 'sm': $q-space-sm, 'md': $q-space-md, 'lg': $q-space-lg, 'xl': $q-space-xl) !default;

@each $space, $value in $all-q-spaces {
  .new-theme {
    .q-pa-#{$space} {
      padding: map-get($value, "y") map-get($value, "x");
    }
    .q-pl-#{$space} {
      padding-left: map-get($value, "x");
    }
    .q-pr-#{$space} {
      padding-right: map-get($value, "x");
    }
    .q-pt-#{$space} {
      padding-top: map-get($value, "y");
    }
    .q-pb-#{$space} {
      padding-bottom: map-get($value, "y");
    }
    .q-px-#{$space} {
      padding-left: map-get($value, "x");
      padding-right: map-get($value, "x");
    }
    .q-py-#{$space} {
      padding-top:  map-get($value, "y");
      padding-bottom:  map-get($value, "y");
    }
    .q-ma-#{$space} {
      margin: map-get($value, "y") map-get($value, "x");
    }
    .q-ml-#{$space} {
      margin-left: map-get($value, "x");
    }
    .q-mr-#{$space} {
      margin-right: map-get($value, "x");
    }
    .q-mt-#{$space} {
      margin-top: map-get($value, "y");
    }
    .q-mb-#{$space} {
      margin-bottom: map-get($value, "y");
    }
    .q-mx-#{$space} {
      margin-left: map-get($value, "x");
      margin-right: map-get($value, "x");
    }
    .q-my-#{$space} {
      margin-top: map-get($value, "y");
      margin-bottom: map-get($value, "y");
    }
  }
}

$all-spaces: (
  'none': $spacing-none,
  '1': $space-1,
  '2': $space-2,
  '3': $space-3,
  '4': $space-4,
  '5': $space-5,
  '6': $space-6,
  '7': $space-7,
  '8': $space-8,
  '9': $space-9,
  '10': $space-10,
  '11': $space-11,
  '12': $space-12,
) !default;

@each $space, $value in $all-spaces {
  .new-theme {
    .q-pa-#{$space} {
      padding: $value;
    }
    .q-pl-#{$space} {
      padding-left: $value;
    }
    .q-pr-#{$space} {
      padding-right: $value;
    }
    .q-pt-#{$space} {
      padding-top: $value;
    }
    .q-pb-#{$space} {
      padding-bottom: $value;
    }
    .q-px-#{$space} {
      padding-left: $value;
      padding-right: $value;
    }
    .q-py-#{$space} {
      padding-top: $value;
      padding-bottom: $value;
    }
    .q-ma-#{$space} {
      margin: $value;
    }
    .q-ml-#{$space} {
      margin-left: $value;
    }
    .q-mr-#{$space} {
      margin-right: $value;
    }
    .q-mt-#{$space} {
      margin-top: $value;
    }
    .q-mb-#{$space} {
      margin-bottom: $value;
    }
    .q-mx-#{$space} {
      margin-left: $value;
      margin-right: $value;
    }
    .q-my-#{$space} {
      margin-top: $value;
      margin-bottom: $value;
    }
  }
}
