$alaa-spacing-base   : 4px !default;
$alaa-space-none : 0 !default;
$alaa-space-1   : $alaa-spacing-base !default;
$alaa-space-2   : $alaa-spacing-base * 2 !default;
$alaa-space-3   : $alaa-spacing-base * 3 !default;
$alaa-space-4   : $alaa-spacing-base * 4 !default;
$alaa-space-5   : $alaa-spacing-base * 5 !default;
$alaa-space-6   : $alaa-spacing-base * 6 !default;
$alaa-space-7   : $alaa-spacing-base * 8 !default;
$alaa-space-8   : $alaa-spacing-base * 10 !default;
$alaa-space-9   : $alaa-spacing-base * 12 !default;
$alaa-space-10   : $alaa-spacing-base * 14 !default;
$alaa-space-11  : $alaa-spacing-base * 16 !default;
$alaa-space-12   : $alaa-spacing-base * 20 !default;

$alaa-spaces: (
  'none': $alaa-space-none,
  '1': $alaa-space-1,
  '2': $alaa-space-2,
  '3': $alaa-space-3,
  '4': $alaa-space-4,
  '5': $alaa-space-5,
  '6': $alaa-space-6,
  '7': $alaa-space-7,
  '8': $alaa-space-8,
  '9': $alaa-space-9,
  '10': $alaa-space-10,
  '11': $alaa-space-11,
  '12': $alaa-space-12,
) !default;

@each $space, $value in $alaa-spaces {
  .alaa-pa-#{$space} {
    padding: $value;
  }
  .alaa-pl-#{$space} {
    padding-left: $value;
  }
  .alaa-pr-#{$space} {
    padding-right: $value;
  }
  .alaa-pt-#{$space} {
    padding-top: $value;
  }
  .alaa-pb-#{$space} {
    padding-bottom: $value;
  }
  .alaa-px-#{$space} {
    padding-left: $value;
    padding-right: $value;
  }
  .alaa-py-#{$space} {
    padding-top: $value;
    padding-bottom: $value;
  }
  .alaa-ma-#{$space} {
    margin: $value;
  }
  .alaa-ml-#{$space} {
    margin-left: $value;
  }
  .alaa-mr-#{$space} {
    margin-right: $value;
  }
  .alaa-mt-#{$space} {
    margin-top: $value;
  }
  .alaa-mb-#{$space} {
    margin-bottom: $value;
  }
  .alaa-mx-#{$space} {
    margin-left: $value;
    margin-right: $value;
  }
  .alaa-my-#{$space} {
    margin-top: $value;
    margin-bottom: $value;
  }
}
