@use "sass:map";

$spacing-base: 4px;
$spacing-none: 0;
$space-1: $spacing-base;
$space-2: $spacing-base * 2;
$space-3: $spacing-base * 3;
$space-4: $spacing-base * 4;
$space-5: $spacing-base * 5;
$space-6: $spacing-base * 6;
$space-7: $spacing-base * 8;
$space-8: $spacing-base * 10;
$space-9: $spacing-base * 12;
$space-10: $spacing-base * 14;
$space-11: $spacing-base * 16;
$space-12: $spacing-base * 18;
$space-13: $spacing-base * 20;

/* ------------------------------------ */
$q-space-none: (
  x: $spacing-none,
  y: $spacing-none,
);
$q-space-xs: (
  x: $spacing-base,
  y: $spacing-base,
);
$q-space-sm: (
  x: $space-2,
  y: $space-2,
);
$q-space-md: (
  x: $space-4,
  y: $space-4,
);
$q-space-lg: (
  x: $space-7,
  y: $space-7,
);
$q-space-xl: (
  x: $space-12,
  y: $space-12,
);

// Define your custom gutters here
$custom-gutters : (
  'xs': $space-2,
  'sm': $space-4,
  'md': $space-5,
  'lg': $space-6,
  'xl': $space-7
);


// Generate all gutter configurations
@mixin generate-gutters() {
  @each $gutter-size, $gutter-width in $custom-gutters {
    // Loop through breakpoints for media queries
    @each $break-name, $break-width in $sizes {
      @include media-min-width($break-name) {
        // Apply margins on the container for specific breakpoint and gutter size
        .q-col-gutter-#{$gutter-size}-#{$break-name} {
          margin-left: -$gutter-width !important;
          margin-top: -$gutter-width !important;

          > * {
            // Apply paddings on the columns inside for specific breakpoint and gutter size
            padding-left: $gutter-width !important;
            // Include the top padding as per your requirement
            padding-top: $gutter-width !important;
          }
        }
      }
    }
  }
}

// Include the mixin in your SCSS
@include generate-gutters();



.q-col-gutter-x-lg-lg {
  margin-left: -$space-6 !important;

  @include media-max-width('md') {
    margin-left: -$space-5 !important
  }

  > * {
    padding-left: $space-6 !important;

    @include media-max-width('md') {
      padding-left: $space-5 !important;
    }
  }
}




