.new-theme {
  .q-table__card .q-table__top,
  .q-table__card .q-table__bottom {
    display: none;
  }

  .q-table__card {
    color: $grey-9;
    background: $grey-2;
    border-radius: 16px;
    box-shadow: none;
    padding: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
  }

  .q-table {
    /*  we can't style tr for hover normally,
      so this is Quasar's alternative way ( background with opacity)
      and therefore our alternative way
    */
    tbody {
      tr {
        td {
          &::before {
            background: rgb(238 230 203 / 30%);
          }

          &::after {
            background: transparent;
          }

          &:last-child {
            ::after {
              border-bottom-left-radius: 8px;
              border-top-left-radius: 8px;
              border-top-right-radius: 0;
            }
          }
        }

        &:first-child {
          td::after {
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
            border-top-right-radius: 0;
          }
        }

        .selected:first-child {
          td::after {
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
            border-top-right-radius: 0;
          }
        }
      }
    }

    /*
    .q-tr {
      .q-td {
        background: $grey-1;
        padding: 20px 10px;
        border-bottom: 4px solid $grey-2 !important;
      }

      &.selected {
        border-radius: 8px;

        .q-td {
          background: $secondary-1;
          border-radius: 8px;
        }
      }

      :first-child {
        td::after {
          border-bottom-left-radius: 8px;
          border-top-left-radius: 8px;
          border-top-right-radius: 0;
        }

        &.q-td {
          border-bottom-left-radius: 8px;
          border-top-left-radius: 8px;
          border-top-right-radius: 0;
        }
      }

      :last-child {
        &.q-td {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
    }
     */

    .q-checkbox__inner--truthy,
    .q-checkbox__inner--indet {
      color: $secondary-4;
    }
  }
}
