@import "src/css/mixins.scss";
.new-theme {
  .q-tab {
    padding: 0 12px;
    &.disabled {
      .q-tab__content {
        .q-tab__label {
          color: $grey-5;
        }
      }
    }
    .q-tab__content {
      display: flex;
      flex-direction: row;
      width: 80px;
      .q-tab__indicator {
        border: 2px solid $primary;
        width: 79px;
        border-radius: 8px;
      }
      .q-tab__icon {
        width: 13px;
        height: 13px;
        font-size: 13px;
        margin-right: 6px;
      }
      .q-tab__label {
        @include body1;
        color: $grey-9;
      }
    }
  }
}
