@import "src/css/fonts";
@import "src/css/Theme/sizes";
@import "src/css/Theme/colors";
@import "src/css/Theme/table";
@import "src/css/Theme/dialog";
@import "src/css/Theme/tabs";
@import "src/css/Theme/bottomSheet";
@import "src/css/Theme/Controls/Scroll";
@import "src/css/Theme/Widgets/widgets";
@import "src/css/Theme/Controls/controles";
@import "src/css/Theme/Typography/typography";
@import "src/css/Theme/FormBuilder/formBuilder";
@import "src/css/Theme/tooltip";
@import "src/css/Theme/notification";
@import "src/css/Theme/Badge";
@import "src/css/Theme/Components/Components";
@import "src/css/Theme/Card";
@import "src/css/Theme/Banner";
@import "src/css/Theme/Iconography";

body {
  font-family:
    IRANSansXFaNum,
    Arial,
    -apple-system,
    "Helvetica Neue",
    Helvetica,
    sans-serif;
}

body.body--light {
  background: #f6f7fb;
}

.default-notify-class {
  font-size: 18px;
  text-align: center;
  padding: 10px 16px;
}

@media screen and (width <= 600px) {
  .main-layout {
    &.hasFooter {
      .q-page-container {
        margin-bottom: $mobileFooterHeight;
      }
    }
  }
}
