@import 'src/css/Theme/colors.scss';
@import 'src/css/fonts.scss';
@import 'src/css/Theme/sizes.scss';
@import 'src/css/Theme/colors.scss';
@import 'src/css/Theme/table.scss';
@import 'src/css/Theme/dialog.scss';
@import 'src/css/Theme/tabs.scss';
@import 'src/css/Theme/bottomSheet.scss';
@import 'src/css/Theme/Controls/Scroll';
@import 'src/css/Theme/Widgets/widgets.scss';
@import 'src/css/Theme/Controls/controles.scss';
@import 'src/css/Theme/Typography/typography.scss';
@import 'src/css/Theme/FormBuilder/formBuilder.scss';

* {
  font-family: IRANSans, 'Arial', '-apple-system', 'Helvetica Neue', Helvetica, sans-serif;
}

body.body--light {
  background: #F6F7FB;
}

.default-notify-class {
  font-size: 18px;
  text-align: center;
  padding: 10px 16PX;
}
