@import 'src/css/fonts.scss';
@import 'src/css/Theme/sizes.scss';
@import 'src/css/Theme/colors.scss';
@import 'src/css/Theme/table.scss';
@import 'src/css/Theme/dialog.scss';
@import 'src/css/Theme/tabs.scss';
@import 'src/css/Theme/bottomSheet.scss';
@import 'src/css/Theme/Controls/Scroll';
@import 'src/css/Theme/Widgets/widgets.scss';
@import 'src/css/Theme/Controls/controles.scss';
@import 'src/css/Theme/Typography/typography.scss';
@import 'src/css/Theme/FormBuilder/formBuilder.scss';
@import 'src/css/Theme/tooltip.scss';
@import "src/css/Theme/notification.scss";
@import "src/css/Theme/Badge.scss";

//* {
body {
  font-family: IRANSansXFaNum, 'Arial', '-apple-system', 'Helvetica Neue', Helvetica, sans-serif;
}

body.body--light {
  background: #F6F7FB;
}

.default-notify-class {
  font-size: 18px;
  text-align: center;
  padding: 10px 16PX;
}

@media screen and (max-width:600px){
  .main-layout {
    &.hasFooter {
      .q-page-container {
        margin-bottom: $mobileFooterHeight;
      }
    }
  }
}
