@mixin global-check-box {
  .q-checkbox {
    margin-right: 8px;

    .q-checkbox__inner {
      &.q-checkbox__inner--falsy {
        color: #aeaeae;
      }

      .q-checkbox__bg {
        border-radius: 5px;
        border: 1px solid;
      }
    }
  }
}
.q-checkbox__inner--truthy {
  .q-checkbox__bg {
    background: var(--primary-1);
    border: 1px solid var(--primary-1) !important;
    border-radius: 5px;
  }
}
.q-checkbox__inner--falsy{
  .q-checkbox__bg{
    border: 1px solid #8A8CA6;
    border-radius: 5px;
  }
}

.form-builder-Checkbox-col {
  @include global-check-box;
  .q-checkbox__inner--truthy {
    .q-checkbox__bg {
      background: var(--primary-1);
      border: 1px solid var(--primary-1) !important;
    }

  }

}
