.form-builder-tiptapEditor-col {
  padding: 8px 12px 0;

  &p {
    &:first-child {
      margin-bottom: 0;
    }
  }

  .tiptap-container {
    background-color: #fff;
    border-radius: 20px;
  }

  .vue-tiptap-katex {
    .tiptap-header {
      border-radius: 20px 20px 0 0;
      background-color: #fff;
      border-bottom: 1px solid #dedede;
      margin: 24px;
      padding: 0;
    }
  }
}
