@import 'src/css/Theme/FormBuilder/card';
@import 'src/css/Theme/FormBuilder/input';
@import 'src/css/Theme/FormBuilder/dateTime';
@import 'src/css/Theme/FormBuilder/select';
@import 'src/css/Theme/FormBuilder/checkbox';
@import 'src/css/Theme/FormBuilder/editor';
@import 'src/css/Theme/FormBuilder/separator';
@import 'src/css/Theme/FormBuilder/formBuilderCol';
@import 'src/css/Theme/FormBuilder/toggleButton';

@import 'src/css/Theme/colors.scss';
@import 'src/css/Theme/Typography/typography.scss';

[class^="form-builder"] {
  position: relative;
  .outsideLabel {
    position: absolute;
    left: 0;
    top: 0;
    color: $grey-9;
    @include body2;
  }
}
