@import "src/css/Theme/Controls/input";

.form-builder-ToggleButton {
  .q-btn-group {
    border-radius: 10px;
    overflow: hidden;
  }

  .q-btn-toggle {
    height: $input-height;
    box-shadow: none;
    justify-content: space-between;

    .q-btn {
      height: $input-height;
      width: 58px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px !important;
      line-height: 24px;
      text-align: center;

      .q-focus-helper {
        background: transparent !important;
      }

      .q-btn__content {
        margin: 0;
      }
    }

    :first-child {
      &.q-btn {
        border-radius: unset;
      }
    }
  }
}
