@import "mixin";

.form-builder-toggle-button-col {
  .outsideLabel {
    @include global-outsideLabel;
  }

  .q-btn-group {
    border-radius: 10px;
    overflow: hidden;
  }
  .q-btn-toggle {
    height: 32px;
    box-shadow: none;
    background-color: var(--3a-Neutral3);
    justify-content: space-between;
    :first-child {
      &.q-btn {
        border-radius: unset;
      }
    }
    .q-btn {
      height: 32px;
      width: 58px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px !important;
      line-height: 24px;
      text-align: center;

      .q-focus-helper {
        background: transparent !important;
      }

      .q-btn__content {
        margin: 0;
      }

    }
  }
}

//q-btn q-btn-item non-selectable no-outline

//q-btn q-btn-item non-selectable no-outline
