/**
*
*	Name:			Doran Fonts
*	Version:			1.0
*	Author:			Fereshte Iranshahi and Reza Bakhtiarifard
*	Created on:		Aug 2022
*	Updated on:		Aug 2022
*	Vendor:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت دوران یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
Doran fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- fonts/-
*
**/


@font-face {
	font-family: Doran FaNum;
	font-style: normal;
	font-weight: 100;
	src: url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/woff/DoranFaNum-Thin.woff') format('woff'),
	url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/woff2/DoranFaNum-Thin.woff2') format('woff2');
  font-display: swap;
}

@font-face {
	font-family: Doran FaNum;
	font-style: normal;
	font-weight: 300;
	src: url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/woff/DoranFaNum-Light.woff') format('woff'),
	url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/woff2/DoranFaNum-Light.woff2') format('woff2');
  /*src: url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/eot/DoranFaNum-Light.eot');*/
  /*src: url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/eot/DoranFaNum-Light.eot?#iefix') format('embedded-opentype'),*/
  /*url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/svg/DoranFaNum-Light.svg#DoranFaNum-Light') format('svg');*/
  font-display: swap;
}

@font-face {
	font-family: Doran FaNum;
	font-style: normal;
	font-weight: normal;
	src: url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/woff/DoranFaNum-Regular.woff') format('woff'),
	url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/woff2/DoranFaNum-Regular.woff2') format('woff2');
  /*src: url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/eot/DoranFaNum-Regular.eot');*/
  /*src: url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/eot/DoranFaNum-Regular.eot?#iefix') format('embedded-opentype'),*/
  /*url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/svg/DoranFaNum-Regular.svg#DoranFaNum-Regular') format('svg');*/
  font-display: swap;
}

@font-face {
	font-family: Doran FaNum;
	font-style: normal;
	font-weight: 500;
	src: url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/woff/DoranFaNum-Medium.woff') format('woff'),
	url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/woff2/DoranFaNum-Medium.woff2') format('woff2');
  /*src: url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/eot/DoranFaNum-Medium.eot');*/
  /*src: url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/eot/DoranFaNum-Medium.eot?#iefix') format('embedded-opentype'),*/
  /*url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/svg/DoranFaNum-Medium.svg#DoranFaNum-Medium') format('svg');*/
  font-display: swap;
}

@font-face {
	font-family: Doran FaNum;
	font-style: normal;
	font-weight: bold;
	src: url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/woff/DoranFaNum-Bold.woff') format('woff'),
	url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/woff2/DoranFaNum-Bold.woff2') format('woff2');
  /*src: url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/eot/DoranFaNum-ExtraBold.eot');*/
  /*src: url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/eot/DoranFaNum-ExtraBold.eot?#iefix') format('embedded-opentype'),*/
  /*url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/svg/DoranFaNum-ExtraBold.svg#DoranFaNum-ExtraBold') format('svg');*/
  font-display: swap;
}

@font-face {
	font-family: Doran FaNum;
	font-style: normal;
	font-weight: 800;
	src: url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/woff/DoranFaNum-ExtraBold.woff') format('woff'),
	url('https://nodes.alaatv.com/upload/fonts/Doran_FaNum/fonts/woff2/DoranFaNum-ExtraBold.woff2') format('woff2');
  font-display: swap;
}
