@mixin body1 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

@mixin body2 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

@mixin caption1 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}

@mixin caption2 {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.2px;
}

@mixin subtitle1 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
}

@mixin subtitle2 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

$katexFontSize: 1.2rem;
$katexLineHeight: 4rem;

a {
  text-decoration: none;
  color: #1d1d1d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-style: normal;
  line-height: normal;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: -0.96px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.8px;
}

h3 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.64px;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.48px;
}

h5 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.4px;
}

h6 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.36px;
}

.body1 {
  @include body1;
}

.body2 {
  @include body2;
}

.caption1 {
  @include caption1;
}

.caption2 {
  @include caption2;
}

.subtitle1 {
  @include subtitle1;
}

.subtitle2 {
  @include subtitle2;
}
