@import "src/css/Theme/theme";

* {
  /* supported by Chrome and Opera */

  /* Safari */

  /* Konqueror HTML */

  /* Firefox */
  user-select: none; /* Internet Explorer/Edge */
}

a {
  text-decoration: none;
  cursor: pointer;
}
