/**
*
*	Name:			IRANSansXFaNum Fonts
*	Version:			2.4
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Apr 22, 2021
*	Updated on:		Apr 22, 2021
*	Website:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونتایران سنس Xا یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANSansXFaNum fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- fonts/-
*
**/


@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 100;
  src: url('../svg/IRANSansXFaNum-Thin.svg#IRANSansXFaNum-Thin') format('svg');
	src: url('../Woff/IRANSansXFaNum-Thin.woff') format('woff'),
	url('../Woff2/IRANSansXFaNum-Thin.woff2') format('woff2');
  font-display: swap;
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 200;
  src: url('../svg/IRANSansXFaNum-UltraLight.svg#IRANSansXFaNum-UltraLight') format('svg');
	src: url('../Woff/IRANSansXFaNum-UltraLight.woff') format('woff'),
	url('../Woff2/IRANSansXFaNum-UltraLight.woff2') format('woff2');
  font-display: swap;
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 300;
  src: url('../svg/IRANSansXFaNum-Light.svg#IRANSansXFaNum-Light') format('svg');
	src: url('../Woff/IRANSansXFaNum-Light.woff') format('woff'),
	url('../Woff2/IRANSansXFaNum-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 500;
  src: url('../svg/IRANSansXFaNum-Medium.svg#IRANSansXFaNum-Medium') format('svg');
	src: url('../Woff/IRANSansXFaNum-Medium.woff') format('woff'),
	url('../Woff2/IRANSansXFaNum-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 600;
  src: url('../svg/IRANSansXFaNum-DemiBold.svg#IRANSansXFaNum-DemiBold') format('svg');
	src: url('../Woff/IRANSansXFaNum-DemiBold.woff') format('woff'),
	url('../Woff2/IRANSansXFaNum-DemiBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 800;
	src: url('../Woff/IRANSansXFaNum-ExtraBold.woff') format('woff'),
	url('../Woff2/IRANSansXFaNum-ExtraBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 900;
  src: url('../svg/IRANSansXFaNum-Black.svg#IRANSansXFaNum-Black') format('svg');
	src: url('../Woff/IRANSansXFaNum-Black.woff') format('woff'),
	url('../Woff2/IRANSansXFaNum-Black.woff2') format('woff2');
  font-display: swap;
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: bold;
  src: url('../svg/IRANSansXFaNum-ExtraBold.svg#IRANSansXFaNum-ExtraBold') format('svg');
	src: url('../Woff/IRANSansXFaNum-Bold.woff') format('woff'),
	url('../Woff2/IRANSansXFaNum-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: normal;
  src: url('../svg/IRANSansXFaNum-Regular.svg#IRANSansXFaNum-Regular') format('svg');
	src: url('../Woff/IRANSansXFaNum-Regular.woff') format('woff'),
	url('../Woff2/IRANSansXFaNum-Regular.woff2') format('woff2');
  font-display: swap;
}


