.new-theme {
  .q-avatar {
    &.avatar-xl {
      font-size: 56px;
    }
    &.avatar-lg {
      font-size: 48px;
    }
    &.avatar-md {
      font-size: 40px;
    }
    &.avatar-sm {
      font-size: 32px;
    }
    &.avatar-xs {
      font-size: 24px;
    }
  }
}
