@import 'src/css/Theme/colors.scss';
@import 'src/css/Theme/radius.scss';
@import 'src/css/Theme/spacing.scss';
@import 'src/css/Theme/Typography/typography.scss';

@mixin q-btn-square($square-padding) {
  padding: $square-padding !important;
}

@mixin btn-handle-size ($radius, $padding-x, $padding-y, $square-padding, $icon-font-size) {
  border-radius: $radius;
  padding: $padding-x $padding-y;
  &.q-btn--square {
   @include q-btn-square($square-padding)
  }
  .q-btn__content {
    @content;
    .q-icon {
      font-size: $icon-font-size;
    }
  }
}

@mixin btn-handle-sizes($size) {
  @if $size == 'xs' {
    @include btn-handle-size($radius-2, $space-1, $space-2, $space-1, 16px) {
      @include subtitle2;
    }
  } @else if $size == 'sm' {
    @include btn-handle-size($radius-3, $space-1, $space-3, $space-2, 16px) {
      @include subtitle2;
    }
  } @else if $size == 'md' {
    @include btn-handle-size($radius-3, $space-2, $space-4, $space-3, 16px) {
      @include subtitle2;
    }
  } @else if $size == 'lg' {
    @include btn-handle-size($radius-3, $space-3, $space-4, $space-4, 20px) {
      @include subtitle1;
    }
  } @else if $size == 'xl' {
    @include btn-handle-size($radius-3, $space-4, $space-4, $space-5, 20px) {
      @include subtitle1;
    }
  }
}
body {
  .q-btn {
    //font-size: 1em !important;
    min-height: auto;

    // xs
    &.size-xs {
      @include btn-handle-sizes('xs')
    }

    // sm
    &.size-sm {
      @include btn-handle-sizes('sm')
    }

    // md
    &.size-md {
      @include btn-handle-sizes('md');
    }
    @include btn-handle-sizes('md');

    // lg
    &.size-lg {
      @include btn-handle-sizes('lg')
    }

    // xl
    &.size-xl {
      @include btn-handle-sizes('xl')
    }

    &:before {
      box-shadow: none;
    }

    &.disabled,
    &[disabled] {
      opacity: 0.2 !important;
    }


    &.q-hoverable:hover {
      & > .q-focus-helper {
        opacity: 1;
        background: rgba($grey-1, 0.2);
        &:before {
          display: none;
        }
        &:after {
          display: none;
        }
      }
    }

    &.q-btn--active.q-btn--actionable {
      &:before {
        box-shadow: unset;
        color: unset;
        background: inherit;
        opacity: 0.2;
        position: absolute;
        top: -$space-1;
        left: -$space-1;
        right: -$space-1;
        bottom: -$space-1;
        width: calc( 100% + 8px );
        height: calc( 100% + 8px );
      }
    }

    .q-btn__content {
      .q-icon {
        &.on-left {
          margin-right: $space-1;
        }

        &.on-right {
          margin-left: $space-1;
        }
      }
    }

    &.bg-primary {
      color: $grey-9 !important;
    }

    &.bg-secondary {
      color: $grey-1 !important;
    }

    &.bg-accent {
      background: $accent-5 !important;
    }

    &.bg-grey {
      color: $grey-9 !important;
      background: $grey-2 !important;
    }

    &.q-btn--outline {
      &.text-grey {
        color: $grey-9 !important;
        background: $grey-1 !important;

        &:before {
          border: solid 1.5px $grey-4;
        }

        &:hover:not(.disabled) {
          background: $grey-2 !important;
          &:before {
            border: solid 1px $grey-6;
          }
        }

        .q-btn__content {
          color: $grey-9 !important;
        }
      }
    }

    @mixin flat-btn () {
      color: $grey-9 !important;
      background: transparent ;

      &:before {
        border: none;
      }

      &:hover {
        background: $grey-2 ;
      }

      .q-btn__content {
        color: $grey-9 !important;
      }
    }

    &.q-btn--flat {
      &.text-grey {
        @include flat-btn();
      }
      @include flat-btn();
    }
  }
}
