@import 'src/css/Theme/colors.scss';
@import 'src/css/Theme/spacing.scss';
@import 'src/css/Theme/Typography/typography.scss';

@mixin global-input {
}

$input-height: $space-8;
$q-field__label_height: 24px; // update on change of label typography
$q-field__label_margin_bottom: $space-2;

.q-input {
  align-items: flex-end;
  &.q-field--focused {
    .q-field__inner {
      .q-field__control {
        &:before {
          border-color: $primary;
        }
      }
    }
  }
  &.q-field--disabled {
    .q-field__inner {
      .q-field__control {
        &:before {
          background: $grey-2;
          border-color: $negative-5;
        }
        & > div {
          opacity: 1 !important;
        }
        .q-field__control-container {
          .q-field__native {
            &::placeholder {
              color: $grey-4;
            }
          }
          .q-field__label {
            color: $grey-4;
          }
        }
      }
      .q-field__bottom {
        padding-top: $space-2;
        .q-field__messages {
          color: $grey-6;
        }
      }
    }
  }
  &.q-field--error {
    .q-field__inner {
      .q-field__control {
        &:before {
          border-color: $negative-5;
        }
        .q-field__append {
          &.q-anchor--skip {
            display: none;
          }
        }
      }
      .q-field__bottom {
        .q-field__messages {
          color: $negative-5;
        }
      }
    }
  }
  .q-field__before {
    height: $input-height;
  }
  .q-field__inner {
    .q-field__control {
      height: auto;
      position: relative;
      align-items: flex-end;
      margin-top: calc( #{$q-field__label_height} + #{$q-field__label_margin_bottom});
      &:before {
        content: ' ';
        left: 0;
        right: 0;
        bottom: 0;
        top: auto;
        width: 100%;
        z-index: 1;
        position: absolute;
        background: $grey-1;
        height: $input-height;
        border-radius: $space-2;
        border: 1.5px solid $grey-4;
      }
      &:after {
        display: none;
      }
      padding: 0 $space-4 0 $space-4;
      .q-field__prepend {
        height: $input-height;
        padding-right: $space-1;
        z-index: 2;
      }
      .q-field__control-container {
        flex-wrap: wrap;
        position: unset;
        .q-field__native {
          order: 2;
          z-index: 2;
          height: $input-height;
          padding: 9px 0 10px 0;
          color: $grey-9;
          @include body2;
          &::placeholder {
            color: $grey-6;
            @include body2;
          }
        }
        .q-field__label {
          top: 0;
          order: 1;
          color: $grey-9;
          @include body1;
          max-width: 100%;
          margin-bottom: $q-field__label_margin_bottom;
          transform: translateY(calc( -100% - #{$q-field__label_margin_bottom})) scale(1);
          position: absolute;
          left: 0;
        }
      }
      .q-field__append {
        height: $input-height;
        padding-left: $space-1;
        z-index: 2;
      }
    }
    .q-field__bottom {
      padding-top: $space-2;
      .q-field__messages {
        color: $grey-6;
        @include caption1;
      }
    }
  }
  .q-field__after {
    height: $input-height;
  }
}
