@import 'src/css/Theme/colors.scss';
@import 'src/css/Theme/spacing.scss';
@import 'src/css/Theme/Typography/typography.scss';

$input-height: $space-8;
$field-background: $grey-1;
$field-disabled-background: $grey-2;
$q-field__label_height: 24px; // update on change of label typography
$q-field__label_margin_bottom: $space-2;
@mixin q-field__prepend_and_append_icon_style {
  $icon-size: $space-5;
  font-family: "Phosphor", serif !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  width: $icon-size;
  height: $icon-size;
  &:before {
    position: absolute;
    left: 0;
    background: $field-background;
  }
}

@mixin q-field-mixin {

  $borderStyle: 1.5px solid $grey-4;
  &.q-field--standard {
    &.q-field--readonly {
      .q-field__control {
        &:before {
          border-bottom: $borderStyle;
        }
      }
    }
  }

  align-items: flex-end;
  &.q-field--focused {
    .q-field__inner {
      .q-field__control {
        &:before {
          border-color: $primary;
        }
      }
    }
  }
  &.q-field--disabled {
    .q-field__inner {
      .q-field__control {
        &:before {
          background: $field-disabled-background;
          border-color: $negative-5;
        }
        & > div {
          opacity: 1 !important;
        }
        $field-disabled-input-color: $grey-4;
        .q-field__prepend {
          color: $field-disabled-input-color;
        }
        .q-field__control-container {
          .q-field__native {
            color: $field-disabled-input-color;
            &::placeholder {
              color: $field-disabled-input-color;
            }
          }
          .q-field__label {
            color: $grey-4;
          }
        }
        .q-field__append {
          color: $field-disabled-input-color;
        }
      }
      .q-field__bottom {
        padding-top: $space-2;
        .q-field__messages {
          color: $grey-6;
        }
      }
    }
  }
  &.q-field--error {
    .q-field__inner {
      .q-field__control {
        &:before {
          border-color: $negative-5;
        }
        .q-field__append {
          &.q-anchor--skip {
            display: none;
          }
        }
      }
      .q-field__bottom {
        .q-field__messages {
          color: $negative-5;
        }
      }
    }
  }
  &.no-title {
    .q-field__inner {
      .q-field__control {
        margin-top: 0;
      }
    }
  }
  .q-field__before {
    height: $input-height;
  }
  .q-field__inner {
    .q-field__control {
      height: $input-height;
      min-height: $input-height;
      position: relative;
      align-items: flex-end;
      padding: 0 $space-4 0 $space-4;
      margin-top: calc( #{$q-field__label_height} + #{$q-field__label_margin_bottom});
      &:before {
        content: ' ';
        left: 0;
        right: 0;
        bottom: 0;
        top: auto;
        width: 100%;
        z-index: 1;
        position: absolute;
        background: $field-background;
        height: $input-height;
        border-radius: $space-2;
        border: $borderStyle;
      }
      &:after {
        display: none;
      }
      .q-field__prepend {
        height: $input-height;
        padding-right: $space-1;
        z-index: 2;
      }
      .q-field__control-container {
        flex-wrap: wrap;
        position: unset;
        padding-top: 0;
        .q-field__native {
          order: 2;
          z-index: 2;
          height: $input-height;
          min-height: $input-height;
          padding: 9px 0 10px 0;
          color: $grey-9;
          @include body2;
          white-space: nowrap;
          overflow: hidden;
          &::placeholder {
            color: $grey-6;
            @include body2;
          }
        }
        .q-field__label {
          top: 0;
          order: 1;
          color: $grey-9;
          @include body1;
          max-width: 100%;
          margin-bottom: $q-field__label_margin_bottom;
          transform: translateY(calc( -100% - #{$q-field__label_margin_bottom})) scale(1);
          position: absolute;
          left: 0;
        }
      }
      .q-field__append {
        height: $input-height;
        padding-left: $space-1;
        z-index: 2;
      }
    }
    .q-field__bottom {
      padding-top: $space-2;
      .q-field__messages {
        color: $grey-6;
        @include caption1;
      }
    }
  }
  .q-field__after {
    height: $input-height;
  }


  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: inherit;
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  }
  @-webkit-keyframes autofill {
    0%,100% {
      color: #666;
      background: transparent;
    }
  }
}

.q-input {
  @include q-field-mixin;
}
