.q-menu {
  padding: $space-2;
  border-radius: $radius-4;
  background: $grey-1;
  box-shadow:
    0 2px 4px -2px rgb(16 24 40 / 6%),
    0 4px 8px -2px rgb(16 24 40 / 10%);

  &[aria-multiselectable="false"],
  &[aria-multiselectable="true"] {
    transform: translateY(8px);
  }

  .q-virtual-scroll__content {
    .q-item {
      padding: $space-2 $space-3;
      border-radius: 8px;
      color: $grey-9;

      @include body2;

      &[aria-selected="true"] {
        background: $primary-1;

        &.q-manual-focusable--focused {
          .q-focus-helper {
            background: $primary-2;
          }
        }
      }
    }
  }

  &.megaMenu{
      width: 1362px;
      max-width: 1362px !important;
      border-radius: 0 0 $space-4 $space-4;
      padding: 0;
      transform: translateY(16px);
    @include media-max-width('lg'){
      max-width: 964px !important;
      width: 964px;
    }
  }
}
