.q-radio {
  &.disabled {
    opacity: 0.3 !important;
  }

  .q-radio__inner {
    font-size: 24px;
    .q-radio__bg {
      left: $spacing-base;
      top: $spacing-base;
      width: 16px;
      height: 16px;
    }
  }
}
