.q-radio {
  .q-radio__inner {
    .q-radio__icon-container {
      border-radius: 50%;
      color: white;
      background: var(--alaa-Secondary);
      i {
        font-size: 16px;
      }
    }
  }

  &.disabled {
    opacity: 0.3 !important;
  }
}
