.new-theme {
  .q-scrollarea {
    .q-scrollarea__bar {
      background: $grey-2;
    }

    .q-scrollarea__thumb {
      border-radius: 12px;
      background: $primary;
      width: 4px;
      height: 4px;
      opacity: 1;
    }
  }
}
