.new-theme {
  .q-scrollarea {
    .q-scrollarea__bar {
      background: #F5F5F5;
    }
    .q-scrollarea__thumb {
      border-radius: 12px;
      background: #FFCA2A;
      width: 4px;
      height: 4px;
      opacity: 1;
    }
  }
}
