.q-toggle{
  //&.toggle-xs {
  //  .q-toggle__inner{
  //    .q-toggle__track{
  //      width: 30px;
  //      height: 17px;
  //      border-radius: 15px;
  //    }
  //    .q-toggle__thumb{
  //      color: #FFFFFF;
  //      top: 11px;
  //      &:after{
  //        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15), -1px -1px 5px rgba(255, 255, 255, 0.2);
  //      ;
  //      }
  //    }
  //    &.q-toggle__inner--truthy{
  //      .q-toggle__thumb{
  //        left: 10px;
  //      }
  //    }
  //    &.q-toggle__inner--falsy{
  //      .q-toggle__track{
  //        background-color: #C4C4C4;
  //      }
  //      .q-toggle__thumb{
  //        left: 22px;
  //      }
  //    }
  //  }
  //}
  &.toggle-sm {
    .q-toggle__inner{
      .q-toggle__track{
        width: 32px;
        height: 16px;
        border-radius: 15px;
      }
      .q-toggle__thumb{
        width: 12px;
        height: 12px;
        color: #FFFFFF;
        top: 13px;
        &:after{
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15), -1px -1px 5px rgba(255, 255, 255, 0.2);
        ;
        }
      }
      &.q-toggle__inner--truthy{
        .q-toggle__thumb{
          left: 13px;
        }
      }
      &.q-toggle__inner--falsy{
        .q-toggle__track{
          background-color: #C4C4C4;
        }
        .q-toggle__thumb{
          left: 29px;
        }
      }
    }
  }
  &.toggle-md {
    .q-toggle__inner{
      .q-toggle__track{
        width: 44px;
        height: 24px;
        border-radius: 15px;
      }
      .q-toggle__thumb{
        width: 16px;
        height: 16px;
        color: #FFFFFF;
        top: 17px;
        &:after{
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15), -1px -1px 5px rgba(255, 255, 255, 0.2);
        ;
        }
      }
      &.q-toggle__inner--truthy{
        .q-toggle__thumb{
          left: 16px;
        }
      }
      &.q-toggle__inner--falsy{
        .q-toggle__track{
          background-color: #C4C4C4;
        }
        .q-toggle__thumb{
          left: 36px;
        }
      }
    }
  }
  &.toggle-lg {
    .q-toggle__inner{
      .q-toggle__track{
        width: 60px;
        height: 32px;
        border-radius: 15px;
      }
      .q-toggle__thumb{
        color: #FFFFFF;
        width: 24px;
        height: 24px;
        top: 20px;
        &:after{
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15), -1px -1px 5px rgba(255, 255, 255, 0.2);
        ;
        }
      }
      &.q-toggle__inner--truthy{
        .q-toggle__thumb{
          left: 19px;
        }
      }
      &.q-toggle__inner--falsy{
        .q-toggle__track{
          background-color: #C4C4C4;
        }
        .q-toggle__thumb{
          left: 47px;
        }
      }
    }
  }
  //&.toggle-xl {
  //  .q-toggle__inner{
  //    .q-toggle__track{
  //      width: 56px;
  //      height: 34px;
  //      border-radius: 15px;
  //    }
  //    .q-toggle__thumb{
  //      color: #FFFFFF;
  //      top: 22px;
  //      &:after{
  //        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15), -1px -1px 5px rgba(255, 255, 255, 0.2);
  //      ;
  //      }
  //    }
  //    &.q-toggle__inner--truthy{
  //      .q-toggle__thumb{
  //        left: 20px;
  //      }
  //    }
  //    &.q-toggle__inner--falsy{
  //      .q-toggle__track{
  //        background-color: #C4C4C4;
  //      }
  //      .q-toggle__thumb{
  //        left: 42px;
  //      }
  //    }
  //  }
  //}
}
//.q-toggle{
//  &.toggle-xs {
//    .q-toggle__inner{
//      .q-toggle__track{
//        width: 30px;
//        height: 17px;
//        border-radius: 15px;
//      }
//      .q-toggle__thumb{
//        color: #FFFFFF;
//        top: 11px;
//        &:after{
//          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15), -1px -1px 5px rgba(255, 255, 255, 0.2);
//        ;
//        }
//      }
//      &.q-toggle__inner--truthy{
//        .q-toggle__thumb{
//          left: 10px;
//        }
//      }
//      &.q-toggle__inner--falsy{
//        .q-toggle__track{
//          background-color: #C4C4C4;
//        }
//        .q-toggle__thumb{
//          left: 22px;
//        }
//      }
//    }
//  }
//  &.toggle-sm {
//    .q-toggle__inner{
//      .q-toggle__track{
//        width: 36px;
//        height: 22px;
//        border-radius: 15px;
//      }
//      .q-toggle__thumb{
//        color: #FFFFFF;
//        top: 13px;
//        &:after{
//          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15), -1px -1px 5px rgba(255, 255, 255, 0.2);
//        ;
//        }
//      }
//      &.q-toggle__inner--truthy{
//        .q-toggle__thumb{
//          left: 13px;
//        }
//      }
//      &.q-toggle__inner--falsy{
//        .q-toggle__track{
//          background-color: #C4C4C4;
//        }
//        .q-toggle__thumb{
//          left: 28px;
//        }
//      }
//    }
//  }
//  &.toggle-md {
//    .q-toggle__inner{
//      .q-toggle__track{
//        width: 42px;
//        height: 25px;
//        border-radius: 15px;
//      }
//      .q-toggle__thumb{
//        color: #FFFFFF;
//        top: 15px;
//        &:after{
//          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15), -1px -1px 5px rgba(255, 255, 255, 0.2);
//        ;
//        }
//      }
//      &.q-toggle__inner--truthy{
//        .q-toggle__thumb{
//          left: 14px;
//        }
//      }
//      &.q-toggle__inner--falsy{
//        .q-toggle__track{
//          background-color: #C4C4C4;
//        }
//        .q-toggle__thumb{
//          left: 32px;
//        }
//      }
//    }
//  }
//  &.toggle-lg {
//    .q-toggle__inner{
//      .q-toggle__track{
//        width: 48px;
//        height: 30px;
//        border-radius: 15px;
//      }
//      .q-toggle__thumb{
//        color: #FFFFFF;
//        top: 18px;
//        &:after{
//          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15), -1px -1px 5px rgba(255, 255, 255, 0.2);
//        ;
//        }
//      }
//      &.q-toggle__inner--truthy{
//        .q-toggle__thumb{
//          left: 18px;
//        }
//      }
//      &.q-toggle__inner--falsy{
//        .q-toggle__track{
//          background-color: #C4C4C4;
//        }
//        .q-toggle__thumb{
//          left: 35px;
//        }
//      }
//    }
//  }
//  &.toggle-xl {
//    .q-toggle__inner{
//      .q-toggle__track{
//        width: 56px;
//        height: 34px;
//        border-radius: 15px;
//      }
//      .q-toggle__thumb{
//        color: #FFFFFF;
//        top: 22px;
//        &:after{
//          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15), -1px -1px 5px rgba(255, 255, 255, 0.2);
//        ;
//        }
//      }
//      &.q-toggle__inner--truthy{
//        .q-toggle__thumb{
//          left: 20px;
//        }
//      }
//      &.q-toggle__inner--falsy{
//        .q-toggle__track{
//          background-color: #C4C4C4;
//        }
//        .q-toggle__thumb{
//          left: 42px;
//        }
//      }
//    }
//  }
//}
